@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.unauthorizedScreen {
  @include flex-center-full;
  padding: $spacing-md;
  background: linear-gradient(135deg, $primary-lightest 0%, $white 100%);
}

.icon {
  color: $error-color;
}

