@import '../../styles/variables';
@import '../../styles/mixins';

.unauthorizedScreen {
  @include flex-center-full;
  padding: $spacing-md;
  background: linear-gradient(135deg, $primary-lightest 0%, $white 100%);
}

.icon {
  color: $error-color;
}

