@import './variables';
@import './mixins';

.unauthorized-screen {
  @include flex-center-full;
  padding: $spacing-md;
  background: linear-gradient(135deg, $primary-lightest 0%, $white 100%);

  &__icon {
    color: $error-color;
  }
}

