@use '../../styles/variables' as *;

.fieldView {
  padding: $spacing-sm;
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.assetPreview {
  display: flex;
  gap: $spacing-sm;
  padding: $spacing-sm;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $border-light;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.assetImageWrapper {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid $border-light;
  background-color: $background-lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assetImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.assetInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacing-xs;
  min-width: 0;
}

.assetFilename {
  display: block;
  word-break: break-word;
  color: $text-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}

.assetAlt {
  display: block;
  font-size: $font-size-sm;
  word-break: break-word;
  color: $text-secondary;
}

.modeNotice {
  font-size: $font-size-sm;
  color: $text-secondary;
  font-style: normal;
}

// Material Design style buttons
:global {
  .ant-btn-default {
    border-color: $border-color;
    color: $text-primary;
    
    &:hover:not(:disabled) {
      border-color: $primary-color;
      color: $primary-color;
    }
    
    &:focus:not(:disabled) {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
  
  .ant-btn-default.ant-btn-dangerous {
    border-color: $error-color;
    color: $error-color;
    
    &:hover:not(:disabled) {
      border-color: $error-color;
      background-color: rgba(255, 77, 79, 0.06);
    }
    
    &:focus:not(:disabled) {
      border-color: $error-color;
      background-color: rgba(255, 77, 79, 0.06);
    }
  }
}

