@use './variables' as *;
@use './mixins' as *;

.app {
  &__loading {
    @include flex-center-full;
  }

  &__error {
    padding: $spacing-md;
    text-align: center;

    &-message {
      color: $error-color;
    }
  }
}

